/* General table styling */
.MuiTable-root {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Comic Sans MS', sans-serif;
    background-color: #f9f9f9;
  }

  .MuiTableHead-root {
    background-color: #ffcc00;
  }