/* General table styling */
.MuiTable-root {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Comic Sans MS', sans-serif;
    background-color: #f9f9f9;
  }

  .MuiTableHead-root {
    background-color: #ffcc00;
  }

  
.MuiTableCell-head {
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    text-align: center;
    border: 1px solid #f0a500;
  }

  /* Table body styling */
.MuiTableBody-root {
    background-color: #fff7e6;
  }

  .MuiTableCell-body {
    font-size: 16px;
    text-align: center;
    border: 1px solid #f0a500;
  }

  .MuiButton-root {
    background-color: #00b0ff;
    color: #fff;
    font-weight: bold;
    margin: 5px;
    padding: 5px 10px;
  }